* @Phalanxia @AmaranthineCodices

recs/BuiltInPlugins/CollectionService.luau @Phalanxia
recs/BuiltInPlugins/ComponentChangedEvent.luau @Phalanxia
recs/BuiltInPlugins/ComponentCleaner.luau @Phalanxia
.github/* @Phalanxia
*aftman* @Phalanxia
*stylua* @Phalanxia
*selene* @Phalanxia
