* @Phalanxia @AmaranthineCodices

src/BuiltInPlugins/CollectionService.luau @Phalanxia
src/BuiltInPlugins/ComponentChangedEvent.luau @Phalanxia
src/BuiltInPlugins/ComponentCleaner.luau @Phalanxia
.github/* @Phalanxia
*aftman* @Phalanxia
*stylua* @Phalanxia
*selene* @Phalanxia
