* @Phalanxia @AmaranthineCodices

src/BuildInPlugins/CollectionService.luau @Phalanxia
src/BuildInPlugins/ComponentChangedEvent.luau @Phalanxia
src/BuildInPlugins/ComponentCleaner.luau @Phalanxia
.github/* @Phalanxia
*aftman* @Phalanxia
*stylua* @Phalanxia
*selene* @Phalanxia
